<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-2">
        <a href="#" class="header__logo-link">
          <img src="../../assets/images/logo.jpg" alt="Movie App Logo" class="header__logo img-fluid">
        </a>
      </div>
      <div class="col-10">
        <ul class="header__nav-list">
          <ng-container *ngFor="let item of mainNav">
            <li class="header__nav-item" *ngIf="item">
              <a href="{{item.url}}" class="header__nav-link">{{item.label}}</a>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
  </div>
</header>
